@tailwind base;
@tailwind components;
@tailwind utilities;

/* Slide-in animation for elements */
@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 2s ease-out;
}
.animated-gradient {
  background: linear-gradient(270deg, #e0e7ff, #8ba6ff, #67a4ff, #ffffff, #e0e7ff);
  background-size: 600% 600%; /* make gradient bigger for sliding effect */
  animation: slideGradient 12s ease infinite;
}

@keyframes slideGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
